@import "./colors";

.proof {
  padding: 5em 1em 5em;
  background-color: #fff;
  position: relative;
  overflow:hidden;

  .proof__header {
    text-align: center;
  }

  h1 {
    padding: 0 1em;
    margin-bottom: 1em;
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    color: $magenta-dark;
  }
  .header__description {
    color: $magenta-gray-dark;
  }

  &::before {
    content: url("../images/bg-pattern-top-mobile.svg");
    position: absolute;
    top: 0;
  }
  &::after {
    content: url("../images/bg-pattern-bottom-mobile.svg");
    position: absolute;
    bottom: -50%;
    right: 0;
  }
}
