/* Primary */

$magenta-dark: hsl(300, 43%, 22%);
$pink-soft: hsl(333, 80%, 67%);

/* Neutral */

$magenta-gray-dark: hsl(303, 10%, 53%);
$magenta-gray-light: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
