@import "./fonts";
@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: $Spartan;
  font-weight: 500;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  margin-top: 2em;
}
p {
  line-height: 1.8;
}
